<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>

  <body>
    <!-- <h1>2 + 2 = <%=2+2 %></h1> -->
    <div class="bg-zinc-900 min-h-screen text-white flex gap-4 flex-col w-full p-10">
        <a class="text-xs text-blue-500 mb-10 inline-block" href="/">Go back to home</a>
        <h1 class="text-[5vw] text-zinc-400 font-semibold"><%= filename%></h1>
        <p class="text-[2vw] text-zinc-500"><%= filedata%></p>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
